@tailwind base;
@tailwind components;
@tailwind utilities;
@primary-color: #1677ff;

:where(.css-2i2tap).ant-space {
  display: block;
}

.ant-space-item {
  min-height: 100vh;
}

.ant-layout {
  min-height: 100vh;
}

/* button, [type='primary'] {
  background-color: #1677ff !important;
} */